In [1]:
import pandas as pd
import zipfile

# ZIP dosyasÄ±nÄ±n gÃ¶reli yolu
zip_path = "../../data/2015.csv.zip"

# ZIP iÃ§eriÄŸini kontrol et
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("ðŸ“¦ ZIP iÃ§eriÄŸi:", zip_ref.namelist())  # ZIP iÃ§indeki dosya adlarÄ±nÄ± gÃ¶ster

    # ZIP iÃ§indeki dosya adÄ±nÄ± buradan al
    with zip_ref.open("2015.csv") as f:
        df_2015 = pd.read_csv(f)

print(f"âœ… YÃ¼klendi: {len(df_2015):,} satÄ±r")
df_2015.head()

ðŸ“¦ ZIP iÃ§eriÄŸi: ['2015.csv']
âœ… YÃ¼klendi: 5,819,079 satÄ±r

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2015-01-01,NK,195,MCO,FLL,2147,2143.0,-4.0,15.0,2158.0,...,63.0,62.0,40.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,NK,197,LGA,FLL,1050,1104.0,14.0,20.0,1124.0,...,194.0,179.0,150.0,1076.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01,NK,198,FLL,MCO,700,712.0,12.0,19.0,731.0,...,57.0,61.0,32.0,177.0,0.0,0.0,16.0,0.0,0.0,NaN
3,2015-01-01,NK,199,IAH,LAS,2240,2251.0,11.0,8.0,2259.0,...,196.0,176.0,164.0,1222.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-01,NK,200,IAH,ORD,623,620.0,-3.0,15.0,635.0,...,152.0,140.0,115.0,925.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_2015.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [4]:
df_2015 = df_2015.drop(columns=["Unnamed: 27"])

In [5]:
null_info = pd.DataFrame({
    'Null SayÄ±sÄ±': df_2015.isnull().sum(),
    'Null YÃ¼zdesi': (df_2015.isnull().sum() / len(df_2015)) * 100
})
print(null_info)

                     Null SayÄ±sÄ±  Null YÃ¼zdesi
FL_DATE                        0      0.000000
OP_CARRIER                     0      0.000000
OP_CARRIER_FL_NUM              0      0.000000
ORIGIN                         0      0.000000
DEST                           0      0.000000
CRS_DEP_TIME                   0      0.000000
DEP_TIME                   86153      1.480526
DEP_DELAY                  86153      1.480526
TAXI_OUT                   89047      1.530259
WHEELS_OFF                 89047      1.530259
WHEELS_ON                  92513      1.589822
TAXI_IN                    92513      1.589822
CRS_ARR_TIME                   0      0.000000
ARR_TIME                   92513      1.589822
ARR_DELAY                 105071      1.805629
CANCELLED                      0      0.000000
CANCELLATION_CODE        5729195     98.455357
DIVERTED                       0      0.000000
CRS_ELAPSED_TIME               6      0.000103
ACTUAL_ELAPSED_TIME       105071      1.805629
AIR_TIME                  105071      1.805629
DISTANCE                       0      0.000000
CARRIER_DELAY            4755640     81.724960
WEATHER_DELAY            4755640     81.724960
NAS_DELAY                4755640     81.724960
SECURITY_DELAY           4755640     81.724960
LATE_AIRCRAFT_DELAY      4755640     81.724960

In [6]:
parse_dates=["FL_DATE"],   # uÃ§uÅŸ tarihi
dtype={
        "OP_CARRIER": "category",
        "ORIGIN": "category",
        "DEST": "category"
}
print("Åžekil (satÄ±r, kolon):", df_2015.shape)
print("\nÄ°lk 5 satÄ±r:")
display(df_2015.head())

print("\nKolonlar:")
print(df_2015.columns.tolist())

print("\nDtype bilgisi:")
print(df_2015.dtypes)

Åžekil (satÄ±r, kolon): (5819079, 27)

Ä°lk 5 satÄ±r:

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2015-01-01,NK,195,MCO,FLL,2147,2143.0,-4.0,15.0,2158.0,...,0.0,63.0,62.0,40.0,177.0,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,NK,197,LGA,FLL,1050,1104.0,14.0,20.0,1124.0,...,0.0,194.0,179.0,150.0,1076.0,NaN,NaN,NaN,NaN,NaN
2,2015-01-01,NK,198,FLL,MCO,700,712.0,12.0,19.0,731.0,...,0.0,57.0,61.0,32.0,177.0,0.0,0.0,16.0,0.0,0.0
3,2015-01-01,NK,199,IAH,LAS,2240,2251.0,11.0,8.0,2259.0,...,0.0,196.0,176.0,164.0,1222.0,NaN,NaN,NaN,NaN,NaN
4,2015-01-01,NK,200,IAH,ORD,623,620.0,-3.0,15.0,635.0,...,0.0,152.0,140.0,115.0,925.0,NaN,NaN,NaN,NaN,NaN

Kolonlar:
['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

Dtype bilgisi:
FL_DATE                 object
OP_CARRIER              object
OP_CARRIER_FL_NUM        int64
ORIGIN                  object
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
CANCELLED              float64
CANCELLATION_CODE       object
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [7]:
# Cancelled ve Diverted ile eksikliÄŸi inceleme
if "CANCELLED" in df_2015.columns:
    print("\nCANCELLED daÄŸÄ±lÄ±mÄ±:")
    display(df_2015["CANCELLED"].value_counts(dropna=False))

if "DIVERTED" in df_2015.columns:
    print("\nDIVERTED daÄŸÄ±lÄ±mÄ±:")
    display(df_2015["DIVERTED"].value_counts(dropna=False))

# Cancelled satÄ±rlarÄ±ndaki eksiklik
if "CANCELLED" in df_2015.columns:
    print("\nCANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:")
    display(df_2015[df_2015["CANCELLED"] == 1].isna().mean().sort_values(ascending=False))

CANCELLED daÄŸÄ±lÄ±mÄ±:

CANCELLED
0.0    5729195
1.0      89884
Name: count, dtype: int64

DIVERTED daÄŸÄ±lÄ±mÄ±:

DIVERTED
0.0    5803892
1.0      15187
Name: count, dtype: int64

CANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:

WHEELS_ON              1.000000
NAS_DELAY              1.000000
LATE_AIRCRAFT_DELAY    1.000000
ACTUAL_ELAPSED_TIME    1.000000
AIR_TIME               1.000000
CARRIER_DELAY          1.000000
WEATHER_DELAY          1.000000
SECURITY_DELAY         1.000000
ARR_DELAY              1.000000
ARR_TIME               1.000000
TAXI_IN                1.000000
WHEELS_OFF             0.990688
TAXI_OUT               0.990688
DEP_TIME               0.958491
DEP_DELAY              0.958491
CRS_ELAPSED_TIME       0.000056
FL_DATE                0.000000
OP_CARRIER             0.000000
OP_CARRIER_FL_NUM      0.000000
DEST                   0.000000
ORIGIN                 0.000000
CRS_DEP_TIME           0.000000
CRS_ARR_TIME           0.000000
DIVERTED               0.000000
CANCELLATION_CODE      0.000000
CANCELLED              0.000000
DISTANCE               0.000000
dtype: float64

In [8]:
num_cols = [
    "DEP_DELAY", "ARR_DELAY", "AIR_TIME", "TAXI_OUT",
    "TAXI_IN", "DISTANCE", "CARRIER_DELAY", "WEATHER_DELAY",
    "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"
]

num_cols = [c for c in num_cols if c in df_2015.columns]  # olup olmayanlarÄ± ayÄ±kla

print("\n--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---")
display(df_2015[num_cols].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95]))

--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---

,DEP_DELAY,ARR_DELAY,AIR_TIME,TAXI_OUT,TAXI_IN,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,5.732926e+06,5.714008e+06,5.714008e+06,5.730032e+06,5.726566e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,9.370158e+00,4.407057e+00,1.135116e+02,1.607166e+01,7.434971e+00,8.223565e+02,1.896955e+01,2.915290e+00,1.348057e+01,7.615387e-02,2.347284e+01
std,3.708094e+01,3.927130e+01,7.223082e+01,8.895574e+00,5.638548e+00,6.077843e+02,4.816164e+01,2.043334e+01,2.800368e+01,2.143460e+00,4.319702e+01
min,-8.200000e+01,-8.700000e+01,7.000000e+00,1.000000e+00,1.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,-5.000000e+00,-1.300000e+01,6.000000e+01,1.100000e+01,4.000000e+00,3.730000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,-2.000000e+00,-5.000000e+00,9.400000e+01,1.400000e+01,6.000000e+00,6.470000e+02,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,3.000000e+00
75%,7.000000e+00,8.000000e+00,1.440000e+02,1.900000e+01,9.000000e+00,1.062000e+03,1.900000e+01,0.000000e+00,1.800000e+01,0.000000e+00,2.900000e+01
90%,3.500000e+01,3.400000e+01,2.160000e+02,2.500000e+01,1.300000e+01,1.709000e+03,5.000000e+01,0.000000e+00,3.500000e+01,0.000000e+00,7.000000e+01
95%,6.700000e+01,6.600000e+01,2.730000e+02,3.100000e+01,1.600000e+01,2.227000e+03,8.700000e+01,8.000000e+00,5.600000e+01,0.000000e+00,1.070000e+02
max,1.988000e+03,1.971000e+03,6.900000e+02,2.250000e+02,2.480000e+02,4.983000e+03,1.971000e+03,1.211000e+03,1.134000e+03,5.730000e+02,1.331000e+03

In [9]:
# Ensure 'FL_DATE' column is datetime type
import pandas as pd
if not pd.api.types.is_datetime64_any_dtype(df_2015["FL_DATE"]):
    df_2015["FL_DATE"] = pd.to_datetime(df_2015["FL_DATE"])

# 1) NA olmayan saatleri seÃ§me
mask = df_2015["CRS_DEP_TIME"].notna()


# 2) HHMM deÄŸerini 4 haneli string

time_str = (
    df_2015.loc[mask, "CRS_DEP_TIME"]
      .astype(int)
      .astype(str)
      .str.zfill(4)
)

# 3) Tarih + saat_string

datetime_str = (
    df_2015.loc[mask, "FL_DATE"].dt.strftime("%Y-%m-%d")
    + " "
    + time_str
)

# 4) Stringi datetimeâ€™e dÃ¶nÃ¼ÅŸtÃ¼rme
# ===========================
df_2015.loc[mask, "CRS_DEP_DATETIME"] = pd.to_datetime(
    datetime_str,
    format="%Y-%m-%d %H%M"
)

# 5) Saat ve dakika ayrÄ± kolonda
df_2015["CRS_DEP_HOUR"]   = df_2015["CRS_DEP_DATETIME"].dt.hour
df_2015["CRS_DEP_MINUTE"] = df_2015["CRS_DEP_DATETIME"].dt.minute

df_2015[["CRS_DEP_TIME", "CRS_DEP_DATETIME", "CRS_DEP_HOUR", "CRS_DEP_MINUTE"]].head()

   CRS_DEP_TIME    CRS_DEP_DATETIME  CRS_DEP_HOUR  CRS_DEP_MINUTE
0          2147 2015-01-01 21:47:00            21              47
1          1050 2015-01-01 10:50:00            10              50
2           700 2015-01-01 07:00:00             7               0
3          2240 2015-01-01 22:40:00            22              40
4           623 2015-01-01 06:23:00             6              23

In [10]:
import os
os.makedirs("../../data/processed", exist_ok=True)
df_2015.to_csv("../../data/processed/airline_2015_cleaned.csv", index=False)