In [1]:
import pandas as pd

In [2]:
import pandas as pd
import zipfile

# ZIP dosyasÄ±nÄ±n gÃ¶reli yolu
zip_path = "../../data/2016.csv.zip"

# ZIP iÃ§eriÄŸini kontrol et
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("ðŸ“¦ ZIP iÃ§eriÄŸi:", zip_ref.namelist())  # ZIP iÃ§indeki dosya adlarÄ±nÄ± gÃ¶ster

    # ZIP iÃ§indeki dosya adÄ±nÄ± buradan al
    with zip_ref.open("2016.csv") as f:
        df_2016 = pd.read_csv(f)

print(f"âœ… YÃ¼klendi: {len(df_2016):,} satÄ±r")
df_2016.head()

ðŸ“¦ ZIP iÃ§eriÄŸi: ['2016.csv']
âœ… YÃ¼klendi: 5,617,658 satÄ±r

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,...,309.0,285.0,249.0,1979.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,...,116.0,109.0,92.0,640.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,...,245.0,231.0,207.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,...,213.0,193.0,173.0,1590.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,...,136.0,188.0,121.0,874.0,72.0,0.0,52.0,0.0,0.0,NaN

In [3]:
df_2016 = pd.read_csv("../../data/2016.csv.zip", compression='zip')

In [4]:
df_2016

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,...,309.0,285.0,249.0,1979.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,...,116.0,109.0,92.0,640.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,...,245.0,231.0,207.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,...,213.0,193.0,173.0,1590.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,...,136.0,188.0,121.0,874.0,72.0,0.0,52.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,2016-12-31,NK,112,IAH,BWI,615,613.0,-2.0,12.0,625.0,...,170.0,167.0,144.0,1235.0,NaN,NaN,NaN,NaN,NaN,NaN
5617654,2016-12-31,NK,113,BWI,IAH,2108,2229.0,81.0,9.0,2238.0,...,214.0,200.0,182.0,1235.0,0.0,0.0,0.0,0.0,67.0,NaN
5617655,2016-12-31,NK,121,ORD,RSW,700,704.0,4.0,11.0,715.0,...,172.0,151.0,136.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
5617656,2016-12-31,NK,124,RSW,ORD,1704,1711.0,7.0,9.0,1720.0,...,183.0,170.0,154.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
5617657,2016-12-31,NK,126,FLL,MYR,2015,2208.0,113.0,21.0,2229.0,...,98.0,102.0,75.0,529.0,113.0,0.0,4.0,0.0,0.0,NaN

In [5]:
df_2016.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [6]:
df_2016 = df_2016.drop(columns=["Unnamed: 27"])

In [7]:
null_info = pd.DataFrame({
    'Null SayÄ±sÄ±': df_2016.isnull().sum(),
    'Null YÃ¼zdesi': (df_2016.isnull().sum() / len(df_2016)) * 100
})
print(null_info)

                     Null SayÄ±sÄ±  Null YÃ¼zdesi
FL_DATE                        0      0.000000
OP_CARRIER                     0      0.000000
OP_CARRIER_FL_NUM              0      0.000000
ORIGIN                         0      0.000000
DEST                           0      0.000000
CRS_DEP_TIME                   0      0.000000
DEP_TIME                   63456      1.129581
DEP_DELAY                  63456      1.129581
TAXI_OUT                   65418      1.164507
WHEELS_OFF                 65418      1.164507
WHEELS_ON                  67844      1.207692
TAXI_IN                    67844      1.207692
CRS_ARR_TIME                   0      0.000000
ARR_TIME                   67844      1.207692
ARR_DELAY                  79513      1.415412
CANCELLED                      0      0.000000
CANCELLATION_CODE        5551797     98.827608
DIVERTED                       0      0.000000
CRS_ELAPSED_TIME               6      0.000107
ACTUAL_ELAPSED_TIME        79513      1.415412
AIR_TIME                   79513      1.415412
DISTANCE                       0      0.000000
CARRIER_DELAY            4653419     82.835570
WEATHER_DELAY            4653419     82.835570
NAS_DELAY                4653419     82.835570
SECURITY_DELAY           4653419     82.835570
LATE_AIRCRAFT_DELAY      4653419     82.835570

In [8]:
parse_dates=["FL_DATE"],   # uÃ§uÅŸ tarihi
dtype={
        "OP_CARRIER": "category",
        "ORIGIN": "category",
        "DEST": "category"
}
print("Åžekil (satÄ±r, kolon):", df_2016.shape)
print("\nÄ°lk 5 satÄ±r:")
display(df_2016.head())

print("\nKolonlar:")
print(df_2016.columns.tolist())

print("\nDtype bilgisi:")
print(df_2016.dtypes)

Åžekil (satÄ±r, kolon): (5617658, 27)

Ä°lk 5 satÄ±r:

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,...,0.0,309.0,285.0,249.0,1979.0,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,...,0.0,116.0,109.0,92.0,640.0,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,...,0.0,245.0,231.0,207.0,1947.0,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,...,0.0,213.0,193.0,173.0,1590.0,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,...,0.0,136.0,188.0,121.0,874.0,72.0,0.0,52.0,0.0,0.0

Kolonlar:
['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

Dtype bilgisi:
FL_DATE                 object
OP_CARRIER              object
OP_CARRIER_FL_NUM        int64
ORIGIN                  object
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
CANCELLED              float64
CANCELLATION_CODE       object
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [9]:
# Cancelled ve Diverted ile eksikliÄŸi inceleme
if "CANCELLED" in df_2016.columns:
    print("\nCANCELLED daÄŸÄ±lÄ±mÄ±:")
    display(df_2016["CANCELLED"].value_counts(dropna=False))

if "DIVERTED" in df_2016.columns:
    print("\nDIVERTED daÄŸÄ±lÄ±mÄ±:")
    display(df_2016["DIVERTED"].value_counts(dropna=False))

# Cancelled satÄ±rlarÄ±ndaki eksiklik
if "CANCELLED" in df_2016.columns:
    print("\nCANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:")
    display(df_2016[df_2016["CANCELLED"] == 1].isna().mean().sort_values(ascending=False))

CANCELLED daÄŸÄ±lÄ±mÄ±:

CANCELLED
0.0    5551797
1.0      65861
Name: count, dtype: int64

DIVERTED daÄŸÄ±lÄ±mÄ±:

DIVERTED
0.0    5604006
1.0      13652
Name: count, dtype: int64

CANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:

WHEELS_ON              1.000000
NAS_DELAY              1.000000
LATE_AIRCRAFT_DELAY    1.000000
ACTUAL_ELAPSED_TIME    1.000000
AIR_TIME               1.000000
CARRIER_DELAY          1.000000
WEATHER_DELAY          1.000000
SECURITY_DELAY         1.000000
ARR_DELAY              1.000000
ARR_TIME               1.000000
TAXI_IN                1.000000
WHEELS_OFF             0.993274
TAXI_OUT               0.993274
DEP_TIME               0.963484
DEP_DELAY              0.963484
CRS_ELAPSED_TIME       0.000091
FL_DATE                0.000000
OP_CARRIER             0.000000
OP_CARRIER_FL_NUM      0.000000
DEST                   0.000000
ORIGIN                 0.000000
CRS_DEP_TIME           0.000000
CRS_ARR_TIME           0.000000
DIVERTED               0.000000
CANCELLATION_CODE      0.000000
CANCELLED              0.000000
DISTANCE               0.000000
dtype: float64

In [10]:
num_cols = [
    "DEP_DELAY", "ARR_DELAY", "AIR_TIME", "TAXI_OUT",
    "TAXI_IN", "DISTANCE", "CARRIER_DELAY", "WEATHER_DELAY",
    "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"
]

num_cols = [c for c in num_cols if c in df_2016.columns]  # olup olmayanlarÄ± ayÄ±kla

print("\n--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---")
display(df_2016[num_cols].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95]))

--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---

,DEP_DELAY,ARR_DELAY,AIR_TIME,TAXI_OUT,TAXI_IN,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,5.554202e+06,5.538145e+06,5.538145e+06,5.552240e+06,5.549814e+06,5.617658e+06,964239.000000,964239.000000,964239.000000,964239.000000,964239.000000
mean,8.938011e+00,3.519290e+00,1.165268e+02,1.619105e+01,7.454353e+00,8.500786e+02,20.257775,2.702736,14.696167,0.084963,24.328406
std,3.976306e+01,4.187332e+01,7.352773e+01,8.827188e+00,5.700441e+00,6.195001e+02,57.341275,21.394475,30.584197,2.419614,45.963177
min,-2.040000e+02,-1.520000e+02,4.000000e+00,1.000000e+00,1.000000e+00,2.500000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-5.000000e+00,-1.400000e+01,6.200000e+01,1.100000e+01,4.000000e+00,3.910000e+02,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-2.000000e+00,-6.000000e+00,9.700000e+01,1.400000e+01,6.000000e+00,6.780000e+02,1.000000,0.000000,2.000000,0.000000,2.000000
75%,6.000000e+00,6.000000e+00,1.480000e+02,1.900000e+01,9.000000e+00,1.091000e+03,18.000000,0.000000,19.000000,0.000000,30.000000
90%,3.300000e+01,3.200000e+01,2.230000e+02,2.600000e+01,1.300000e+01,1.744000e+03,52.000000,0.000000,39.000000,0.000000,73.000000
95%,6.600000e+01,6.500000e+01,2.780000e+02,3.100000e+01,1.600000e+01,2.288000e+03,93.000000,2.000000,63.000000,0.000000,112.000000
max,2.149000e+03,2.142000e+03,7.230000e+02,1.860000e+02,2.500000e+02,4.983000e+03,2142.000000,1157.000000,1446.000000,474.000000,1484.000000

In [11]:
# Ensure 'FL_DATE' column is datetime type
import pandas as pd
if not pd.api.types.is_datetime64_any_dtype(df_2016["FL_DATE"]):
    df_2016["FL_DATE"] = pd.to_datetime(df_2016["FL_DATE"])

# 1) NA olmayan saatleri seÃ§me
mask = df_2016["CRS_DEP_TIME"].notna()


# 2) HHMM deÄŸerini 4 haneli string

time_str = (
    df_2016.loc[mask, "CRS_DEP_TIME"]
      .astype(int)
      .astype(str)
      .str.zfill(4)
)

# 3) Tarih + saat_string

datetime_str = (
    df_2016.loc[mask, "FL_DATE"].dt.strftime("%Y-%m-%d")
    + " "
    + time_str
)

# 4) Stringi datetimeâ€™e dÃ¶nÃ¼ÅŸtÃ¼rme
# ===========================
df_2016.loc[mask, "CRS_DEP_DATETIME"] = pd.to_datetime(
    datetime_str,
    format="%Y-%m-%d %H%M"
)

# 5) Saat ve dakika ayrÄ± kolonda
df_2016["CRS_DEP_HOUR"]   = df_2016["CRS_DEP_DATETIME"].dt.hour
df_2016["CRS_DEP_MINUTE"] = df_2016["CRS_DEP_DATETIME"].dt.minute

df_2016[["CRS_DEP_TIME", "CRS_DEP_DATETIME", "CRS_DEP_HOUR", "CRS_DEP_MINUTE"]].head()

   CRS_DEP_TIME    CRS_DEP_DATETIME  CRS_DEP_HOUR  CRS_DEP_MINUTE
0          1935 2016-01-01 19:35:00            19              35
1          2125 2016-01-01 21:25:00            21              25
2          2255 2016-01-01 22:55:00            22              55
3          1656 2016-01-01 16:56:00            16              56
4           900 2016-01-01 09:00:00             9               0

In [12]:
import os
os.makedirs("../../data/processed", exist_ok=True)
df_2016.to_csv("../../data/processed/airline_2016_cleaned.csv", index=False)