In [1]:
import pandas as pd
import zipfile

# ZIP dosyasÄ±nÄ±n gÃ¶reli yolu
zip_path = "../../data/2017.csv.zip"

# ZIP iÃ§eriÄŸini kontrol et
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("ðŸ“¦ ZIP iÃ§eriÄŸi:", zip_ref.namelist())  # ZIP iÃ§indeki dosya adlarÄ±nÄ± gÃ¶ster

    # ZIP iÃ§indeki dosya adÄ±nÄ± buradan al
    with zip_ref.open("2017.csv") as f:
        df_2017 = pd.read_csv(f)

print(f"âœ… YÃ¼klendi: {len(df_2017):,} satÄ±r")
df_2017.head()

ðŸ“¦ ZIP iÃ§eriÄŸi: ['2017.csv']
âœ… YÃ¼klendi: 5,674,621 satÄ±r

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2017-01-01,AA,1,JFK,LAX,800,831.0,31.0,25.0,856.0,...,402.0,398.0,347.0,2475.0,27.0,0.0,0.0,0.0,0.0,NaN
1,2017-01-01,AA,2,LAX,JFK,900,934.0,34.0,34.0,1008.0,...,327.0,335.0,289.0,2475.0,34.0,0.0,8.0,0.0,0.0,NaN
2,2017-01-01,AA,4,LAX,JFK,1130,1221.0,51.0,20.0,1241.0,...,328.0,319.0,284.0,2475.0,7.0,0.0,0.0,0.0,35.0,NaN
3,2017-01-01,AA,5,DFW,HNL,1135,1252.0,77.0,19.0,1311.0,...,517.0,537.0,513.0,3784.0,77.0,0.0,20.0,0.0,0.0,NaN
4,2017-01-01,AA,6,OGG,DFW,1855,1855.0,0.0,16.0,1911.0,...,425.0,467.0,440.0,3711.0,0.0,0.0,42.0,0.0,0.0,NaN

In [2]:
df_2017 = pd.read_csv("../../data/2017.csv.zip", compression='zip')

In [3]:
df_2017

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2017-01-01,AA,1,JFK,LAX,800,831.0,31.0,25.0,856.0,...,402.0,398.0,347.0,2475.0,27.0,0.0,0.0,0.0,0.0,NaN
1,2017-01-01,AA,2,LAX,JFK,900,934.0,34.0,34.0,1008.0,...,327.0,335.0,289.0,2475.0,34.0,0.0,8.0,0.0,0.0,NaN
2,2017-01-01,AA,4,LAX,JFK,1130,1221.0,51.0,20.0,1241.0,...,328.0,319.0,284.0,2475.0,7.0,0.0,0.0,0.0,35.0,NaN
3,2017-01-01,AA,5,DFW,HNL,1135,1252.0,77.0,19.0,1311.0,...,517.0,537.0,513.0,3784.0,77.0,0.0,20.0,0.0,0.0,NaN
4,2017-01-01,AA,6,OGG,DFW,1855,1855.0,0.0,16.0,1911.0,...,425.0,467.0,440.0,3711.0,0.0,0.0,42.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674616,2017-12-31,UA,2421,IAH,LAS,750,744.0,-6.0,14.0,758.0,...,206.0,189.0,171.0,1222.0,NaN,NaN,NaN,NaN,NaN,NaN
5674617,2017-12-31,UA,2425,RSW,ORD,1611,1602.0,-9.0,12.0,1614.0,...,190.0,183.0,159.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
5674618,2017-12-31,UA,2426,SNA,DEN,1335,1334.0,-1.0,9.0,1343.0,...,134.0,123.0,104.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
5674619,2017-12-31,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,92.0,66.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
5674620,2017-12-31,UA,2429,EWR,DEN,1510,1612.0,62.0,28.0,1640.0,...,270.0,266.0,227.0,1605.0,58.0,0.0,0.0,0.0,0.0,NaN

In [4]:
df_2017.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [5]:
df_2017 = df_2017.drop(columns=["Unnamed: 27"])

In [6]:
null_info = pd.DataFrame({
    'Null SayÄ±sÄ±': df_2017.isnull().sum(),
    'Null YÃ¼zdesi': (df_2017.isnull().sum() / len(df_2017)) * 100
})
print(null_info)

                     Null SayÄ±sÄ±  Null YÃ¼zdesi
FL_DATE                        0      0.000000
OP_CARRIER                     0      0.000000
OP_CARRIER_FL_NUM              0      0.000000
ORIGIN                         0      0.000000
DEST                           0      0.000000
CRS_DEP_TIME                   0      0.000000
DEP_TIME                   80308      1.415213
DEP_DELAY                  80343      1.415830
TAXI_OUT                   82145      1.447586
WHEELS_OFF                 82141      1.447515
WHEELS_ON                  84674      1.492153
TAXI_IN                    84674      1.492153
CRS_ARR_TIME                   0      0.000000
ARR_TIME                   84674      1.492153
ARR_DELAY                  95211      1.677839
CANCELLED                      0      0.000000
CANCELLATION_CODE        5591928     98.542757
DIVERTED                       0      0.000000
CRS_ELAPSED_TIME               7      0.000123
ACTUAL_ELAPSED_TIME        95211      1.677839
AIR_TIME                   95211      1.677839
DISTANCE                       0      0.000000
CARRIER_DELAY            4645148     81.858295
WEATHER_DELAY            4645148     81.858295
NAS_DELAY                4645148     81.858295
SECURITY_DELAY           4645148     81.858295
LATE_AIRCRAFT_DELAY      4645148     81.858295

In [7]:
parse_dates=["FL_DATE"],   # uÃ§uÅŸ tarihi
dtype={
        "OP_CARRIER": "category",
        "ORIGIN": "category",
        "DEST": "category"
}
print("Åžekil (satÄ±r, kolon):", df_2017.shape)
print("\nÄ°lk 5 satÄ±r:")
display(df_2017.head())

print("\nKolonlar:")
print(df_2017.columns.tolist())

print("\nDtype bilgisi:")
print(df_2017.dtypes)

Åžekil (satÄ±r, kolon): (5674621, 27)

Ä°lk 5 satÄ±r:

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2017-01-01,AA,1,JFK,LAX,800,831.0,31.0,25.0,856.0,...,0.0,402.0,398.0,347.0,2475.0,27.0,0.0,0.0,0.0,0.0
1,2017-01-01,AA,2,LAX,JFK,900,934.0,34.0,34.0,1008.0,...,0.0,327.0,335.0,289.0,2475.0,34.0,0.0,8.0,0.0,0.0
2,2017-01-01,AA,4,LAX,JFK,1130,1221.0,51.0,20.0,1241.0,...,0.0,328.0,319.0,284.0,2475.0,7.0,0.0,0.0,0.0,35.0
3,2017-01-01,AA,5,DFW,HNL,1135,1252.0,77.0,19.0,1311.0,...,0.0,517.0,537.0,513.0,3784.0,77.0,0.0,20.0,0.0,0.0
4,2017-01-01,AA,6,OGG,DFW,1855,1855.0,0.0,16.0,1911.0,...,0.0,425.0,467.0,440.0,3711.0,0.0,0.0,42.0,0.0,0.0

Kolonlar:
['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

Dtype bilgisi:
FL_DATE                 object
OP_CARRIER              object
OP_CARRIER_FL_NUM        int64
ORIGIN                  object
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
CANCELLED              float64
CANCELLATION_CODE       object
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [8]:
# Cancelled ve Diverted ile eksikliÄŸi inceleme
if "CANCELLED" in df_2017.columns:
    print("\nCANCELLED daÄŸÄ±lÄ±mÄ±:")
    display(df_2017["CANCELLED"].value_counts(dropna=False))

if "DIVERTED" in df_2017.columns:
    print("\nDIVERTED daÄŸÄ±lÄ±mÄ±:")
    display(df_2017["DIVERTED"].value_counts(dropna=False))

# Cancelled satÄ±rlarÄ±ndaki eksiklik
if "CANCELLED" in df_2017.columns:
    print("\nCANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:")
    display(df_2017[df_2017["CANCELLED"] == 1].isna().mean().sort_values(ascending=False))

CANCELLED daÄŸÄ±lÄ±mÄ±:

CANCELLED
0.0    5591928
1.0      82693
Name: count, dtype: int64

DIVERTED daÄŸÄ±lÄ±mÄ±:

DIVERTED
0.0    5662091
1.0      12530
Name: count, dtype: int64

CANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:

WHEELS_ON              1.000000
NAS_DELAY              1.000000
LATE_AIRCRAFT_DELAY    1.000000
ACTUAL_ELAPSED_TIME    1.000000
AIR_TIME               1.000000
CARRIER_DELAY          1.000000
WEATHER_DELAY          1.000000
SECURITY_DELAY         1.000000
ARR_DELAY              1.000000
ARR_TIME               1.000000
TAXI_IN                1.000000
TAXI_OUT               0.993373
WHEELS_OFF             0.993325
DEP_DELAY              0.971570
DEP_TIME               0.971158
CRS_ELAPSED_TIME       0.000085
FL_DATE                0.000000
OP_CARRIER             0.000000
OP_CARRIER_FL_NUM      0.000000
DEST                   0.000000
ORIGIN                 0.000000
CRS_DEP_TIME           0.000000
CRS_ARR_TIME           0.000000
DIVERTED               0.000000
CANCELLATION_CODE      0.000000
CANCELLED              0.000000
DISTANCE               0.000000
dtype: float64

In [9]:
num_cols = [
    "DEP_DELAY", "ARR_DELAY", "AIR_TIME", "TAXI_OUT",
    "TAXI_IN", "DISTANCE", "CARRIER_DELAY", "WEATHER_DELAY",
    "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"
]

num_cols = [c for c in num_cols if c in df_2017.columns]  # olup olmayanlarÄ± ayÄ±kla

print("\n--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---")
display(df_2017[num_cols].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95]))

--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---

,DEP_DELAY,ARR_DELAY,AIR_TIME,TAXI_OUT,TAXI_IN,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,5.594278e+06,5.579410e+06,5.579410e+06,5.592476e+06,5.589947e+06,5.674621e+06,1.029473e+06,1.029473e+06,1.029473e+06,1.029473e+06,1.029473e+06
mean,9.725734e+00,4.326357e+00,1.174856e+02,1.677994e+01,7.507610e+00,8.566891e+02,1.992933e+01,2.719604e+00,1.602838e+01,9.147399e-02,2.516343e+01
std,4.386590e+01,4.586481e+01,7.427621e+01,9.365385e+00,5.913152e+00,6.244881e+02,6.227602e+01,2.434302e+01,3.590292e+01,3.028055e+00,4.771769e+01
min,-2.340000e+02,-2.380000e+02,7.000000e+00,0.000000e+00,0.000000e+00,3.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,-5.000000e+00,-1.500000e+01,6.200000e+01,1.100000e+01,4.000000e+00,3.910000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,-2.000000e+00,-6.000000e+00,9.800000e+01,1.400000e+01,6.000000e+00,6.800000e+02,1.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,4.000000e+00
75%,6.000000e+00,7.000000e+00,1.490000e+02,2.000000e+01,9.000000e+00,1.097000e+03,1.700000e+01,0.000000e+00,1.900000e+01,0.000000e+00,3.100000e+01
90%,3.500000e+01,3.500000e+01,2.250000e+02,2.700000e+01,1.300000e+01,1.747000e+03,4.900000e+01,0.000000e+00,4.100000e+01,0.000000e+00,7.400000e+01
95%,7.000000e+01,7.000000e+01,2.800000e+02,3.300000e+01,1.700000e+01,2.296000e+03,9.000000e+01,0.000000e+00,6.900000e+01,0.000000e+00,1.130000e+02
max,2.755000e+03,2.189000e+03,7.120000e+02,1.830000e+02,4.140000e+02,4.983000e+03,1.934000e+03,1.934000e+03,1.605000e+03,8.270000e+02,1.756000e+03

In [10]:
# Ensure 'FL_DATE' column is datetime type
import pandas as pd
if not pd.api.types.is_datetime64_any_dtype(df_2017["FL_DATE"]):
    df_2017["FL_DATE"] = pd.to_datetime(df_2017["FL_DATE"])

# 1) NA olmayan saatleri seÃ§me
mask = df_2017["CRS_DEP_TIME"].notna()


# 2) HHMM deÄŸerini 4 haneli string

time_str = (
    df_2017.loc[mask, "CRS_DEP_TIME"]
      .astype(int)
      .astype(str)
      .str.zfill(4)
)

# 3) Tarih + saat_string

datetime_str = (
    df_2017.loc[mask, "FL_DATE"].dt.strftime("%Y-%m-%d")
    + " "
    + time_str
)

# 4) Stringi datetimeâ€™e dÃ¶nÃ¼ÅŸtÃ¼rme
# ===========================
df_2017.loc[mask, "CRS_DEP_DATETIME"] = pd.to_datetime(
    datetime_str,
    format="%Y-%m-%d %H%M"
)

# 5) Saat ve dakika ayrÄ± kolonda
df_2017["CRS_DEP_HOUR"]   = df_2017["CRS_DEP_DATETIME"].dt.hour
df_2017["CRS_DEP_MINUTE"] = df_2017["CRS_DEP_DATETIME"].dt.minute

df_2017[["CRS_DEP_TIME", "CRS_DEP_DATETIME", "CRS_DEP_HOUR", "CRS_DEP_MINUTE"]].head()

   CRS_DEP_TIME    CRS_DEP_DATETIME  CRS_DEP_HOUR  CRS_DEP_MINUTE
0           800 2017-01-01 08:00:00             8               0
1           900 2017-01-01 09:00:00             9               0
2          1130 2017-01-01 11:30:00            11              30
3          1135 2017-01-01 11:35:00            11              35
4          1855 2017-01-01 18:55:00            18              55

In [11]:
import os
os.makedirs("../../data/processed", exist_ok=True)
df_2017.to_csv("../../data/processed/airline_2017_cleaned.csv", index=False)