In [1]:
import pandas as pd

# Zip'ten direkt oku
df = pd.read_csv("../data/2014.csv.zip", compression='zip')

print(f"✅ Yüklendi: {len(df):,} satır")
df.head()

✅ Yüklendi: 5,819,811 satır

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2014-01-01,AA,2377,ICT,DFW,1135,1144.0,9.0,12.0,1156.0,...,85.0,78.0,57.0,328.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-01,AA,2378,MIA,TPA,2225,2220.0,-5.0,14.0,2234.0,...,60.0,55.0,37.0,204.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-01,EV,2500,DFW,HOU,2105,NaN,NaN,NaN,NaN,...,60.0,NaN,NaN,247.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-01,EV,2502,CRW,DFW,1655,1805.0,70.0,6.0,1811.0,...,185.0,180.0,150.0,946.0,0.0,0.0,0.0,0.0,65.0,NaN
4,2014-01-01,EV,2502,DFW,CRW,1320,1440.0,80.0,9.0,1449.0,...,125.0,115.0,101.0,946.0,6.0,0.0,0.0,0.0,64.0,NaN

In [2]:
df.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [3]:
df = df.drop(columns=["Unnamed: 27"])

In [4]:
null_info = pd.DataFrame({
    'Null Sayısı': df.isnull().sum(),
    'Null Yüzdesi': (df.isnull().sum() / len(df)) * 100
})
print(null_info)

                     Null Sayısı  Null Yüzdesi
FL_DATE                        0      0.000000
OP_CARRIER                     0      0.000000
OP_CARRIER_FL_NUM              0      0.000000
ORIGIN                         0      0.000000
DEST                           0      0.000000
CRS_DEP_TIME                   0      0.000000
DEP_TIME                  122742      2.109038
DEP_DELAY                 122742      2.109038
TAXI_OUT                  125951      2.164177
WHEELS_OFF                125951      2.164177
WHEELS_ON                 129628      2.227358
TAXI_IN                   129628      2.227358
CRS_ARR_TIME                   0      0.000000
ARR_TIME                  129628      2.227358
ARR_DELAY                 141433      2.430199
CANCELLED                      0      0.000000
CANCELLATION_CODE        5692827     97.818073
DIVERTED                       0      0.000000
CRS_ELAPSED_TIME               6      0.000103
ACTUAL_ELAPSED_TIME       141433      2.430199
AIR_TIME                  141433      2.430199
DISTANCE                       0      0.000000
CARRIER_DELAY            4579283     78.684394
WEATHER_DELAY            4579283     78.684394
NAS_DELAY                4579283     78.684394
SECURITY_DELAY           4579283     78.684394
LATE_AIRCRAFT_DELAY      4579283     78.684394

In [5]:
parse_dates=["FL_DATE"],   # uçuş tarihi
dtype={
        "OP_CARRIER": "category",
        "ORIGIN": "category",
        "DEST": "category"
}
print("Şekil (satır, kolon):", df.shape)
print("\nİlk 5 satır:")
display(df.head())

print("\nKolonlar:")
print(df.columns.tolist())

print("\nDtype bilgisi:")
print(df.dtypes)

Şekil (satır, kolon): (5819811, 27)

İlk 5 satır:

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2014-01-01,AA,2377,ICT,DFW,1135,1144.0,9.0,12.0,1156.0,...,0.0,85.0,78.0,57.0,328.0,NaN,NaN,NaN,NaN,NaN
1,2014-01-01,AA,2378,MIA,TPA,2225,2220.0,-5.0,14.0,2234.0,...,0.0,60.0,55.0,37.0,204.0,NaN,NaN,NaN,NaN,NaN
2,2014-01-01,EV,2500,DFW,HOU,2105,NaN,NaN,NaN,NaN,...,0.0,60.0,NaN,NaN,247.0,NaN,NaN,NaN,NaN,NaN
3,2014-01-01,EV,2502,CRW,DFW,1655,1805.0,70.0,6.0,1811.0,...,0.0,185.0,180.0,150.0,946.0,0.0,0.0,0.0,0.0,65.0
4,2014-01-01,EV,2502,DFW,CRW,1320,1440.0,80.0,9.0,1449.0,...,0.0,125.0,115.0,101.0,946.0,6.0,0.0,0.0,0.0,64.0

Kolonlar:
['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

Dtype bilgisi:
FL_DATE                 object
OP_CARRIER              object
OP_CARRIER_FL_NUM        int64
ORIGIN                  object
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
CANCELLED              float64
CANCELLATION_CODE       object
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [6]:
# Cancelled ve Diverted ile eksikliği inceleme
if "CANCELLED" in df.columns:
    print("\nCANCELLED dağılımı:")
    display(df["CANCELLED"].value_counts(dropna=False))

if "DIVERTED" in df.columns:
    print("\nDIVERTED dağılımı:")
    display(df["DIVERTED"].value_counts(dropna=False))

# Cancelled satırlarındaki eksiklik
if "CANCELLED" in df.columns:
    print("\nCANCELLED = 1 satırlarda eksik oranları:")
    display(df[df["CANCELLED"] == 1].isna().mean().sort_values(ascending=False))

CANCELLED dağılımı:

CANCELLED
0.0    5692827
1.0     126984
Name: count, dtype: int64

DIVERTED dağılımı:

DIVERTED
0.0    5805362
1.0      14449
Name: count, dtype: int64

CANCELLED = 1 satırlarda eksik oranları:

WHEELS_ON              1.000000
NAS_DELAY              1.000000
LATE_AIRCRAFT_DELAY    1.000000
ACTUAL_ELAPSED_TIME    1.000000
AIR_TIME               1.000000
CARRIER_DELAY          1.000000
WEATHER_DELAY          1.000000
SECURITY_DELAY         1.000000
ARR_DELAY              1.000000
ARR_TIME               1.000000
TAXI_IN                1.000000
WHEELS_OFF             0.991865
TAXI_OUT               0.991865
DEP_TIME               0.966594
DEP_DELAY              0.966594
CRS_ELAPSED_TIME       0.000032
FL_DATE                0.000000
OP_CARRIER             0.000000
OP_CARRIER_FL_NUM      0.000000
DEST                   0.000000
ORIGIN                 0.000000
CRS_DEP_TIME           0.000000
CRS_ARR_TIME           0.000000
DIVERTED               0.000000
CANCELLATION_CODE      0.000000
CANCELLED              0.000000
DISTANCE               0.000000
dtype: float64

In [7]:
num_cols = [
    "DEP_DELAY", "ARR_DELAY", "AIR_TIME", "TAXI_OUT",
    "TAXI_IN", "DISTANCE", "CARRIER_DELAY", "WEATHER_DELAY",
    "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"
]

num_cols = [c for c in num_cols if c in df.columns]  # olup olmayanları ayıkla

print("\n--- Sayısal Kolonların İstatistik Özeti ---")
display(df[num_cols].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95]))

--- Sayısal Kolonların İstatistik Özeti ---

,DEP_DELAY,ARR_DELAY,AIR_TIME,TAXI_OUT,TAXI_IN,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,5.697069e+06,5.678378e+06,5.678378e+06,5.693860e+06,5.690183e+06,5.819811e+06,1.240528e+06,1.240528e+06,1.240528e+06,1.240528e+06,1.240528e+06
mean,1.064212e+01,7.328073e+00,1.113743e+02,1.567082e+01,7.125010e+00,7.987087e+02,1.713739e+01,2.409191e+00,1.331655e+01,5.267918e-02,2.376729e+01
std,3.703377e+01,3.925362e+01,7.202655e+01,8.773649e+00,5.215337e+00,6.024418e+02,4.346679e+01,1.832461e+01,2.694502e+01,1.611986e+00,4.109494e+01
min,-2.510000e+02,-1.120000e+02,7.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,-5.000000e+00,-1.100000e+01,5.900000e+01,1.000000e+01,4.000000e+00,3.620000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,-1.000000e+00,-3.000000e+00,9.200000e+01,1.400000e+01,6.000000e+00,6.280000e+02,2.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,7.000000e+00
75%,1.000000e+01,1.100000e+01,1.410000e+02,1.800000e+01,8.000000e+00,1.024000e+03,1.700000e+01,0.000000e+00,1.700000e+01,0.000000e+00,3.000000e+01
90%,3.900000e+01,4.000000e+01,2.130000e+02,2.500000e+01,1.200000e+01,1.652000e+03,4.500000e+01,0.000000e+00,3.400000e+01,0.000000e+00,6.800000e+01
95%,7.100000e+01,7.200000e+01,2.720000e+02,3.100000e+01,1.600000e+01,2.182000e+03,7.900000e+01,3.000000e+00,5.400000e+01,0.000000e+00,1.030000e+02
max,2.402000e+03,2.444000e+03,7.060000e+02,2.170000e+02,2.460000e+02,4.983000e+03,2.402000e+03,1.288000e+03,1.439000e+03,3.730000e+02,1.437000e+03

In [8]:
# Ensure 'FL_DATE' column is datetime type
import pandas as pd
if not pd.api.types.is_datetime64_any_dtype(df["FL_DATE"]):
    df["FL_DATE"] = pd.to_datetime(df["FL_DATE"])

# 1) NA olmayan saatleri seçme
mask = df["CRS_DEP_TIME"].notna()


# 2) HHMM değerini 4 haneli string

time_str = (
    df.loc[mask, "CRS_DEP_TIME"]
      .astype(int)
      .astype(str)
      .str.zfill(4)
)

# 3) Tarih + saat_string

datetime_str = (
    df.loc[mask, "FL_DATE"].dt.strftime("%Y-%m-%d")
    + " "
    + time_str
)

# 4) Stringi datetime’e dönüştürme
# ===========================
df.loc[mask, "CRS_DEP_DATETIME"] = pd.to_datetime(
    datetime_str,
    format="%Y-%m-%d %H%M"
)

# 5) Saat ve dakika ayrı kolonda
df["CRS_DEP_HOUR"]   = df["CRS_DEP_DATETIME"].dt.hour
df["CRS_DEP_MINUTE"] = df["CRS_DEP_DATETIME"].dt.minute

df[["CRS_DEP_TIME", "CRS_DEP_DATETIME", "CRS_DEP_HOUR", "CRS_DEP_MINUTE"]].head()

   CRS_DEP_TIME    CRS_DEP_DATETIME  CRS_DEP_HOUR  CRS_DEP_MINUTE
0          1135 2014-01-01 11:35:00            11              35
1          2225 2014-01-01 22:25:00            22              25
2          2105 2014-01-01 21:05:00            21               5
3          1655 2014-01-01 16:55:00            16              55
4          1320 2014-01-01 13:20:00            13              20