In [1]:
import pandas as pd
import zipfile

# ZIP dosyasÄ±nÄ±n gÃ¶reli yolu
zip_path = "../../data/2018.csv.zip"

# ZIP iÃ§eriÄŸini kontrol et
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    print("ðŸ“¦ ZIP iÃ§eriÄŸi:", zip_ref.namelist())  # ZIP iÃ§indeki dosya adlarÄ±nÄ± gÃ¶ster

    # ZIP iÃ§indeki dosya adÄ±nÄ± buradan al
    with zip_ref.open("2018.csv") as f:
        df_2018 = pd.read_csv(f)

print(f"âœ… YÃ¼klendi: {len(df_2018):,} satÄ±r")
df_2018.head()

ðŸ“¦ ZIP iÃ§eriÄŸi: ['2018.csv']
âœ… YÃ¼klendi: 7,213,446 satÄ±r

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_2018 = pd.read_csv("../../data/2018.csv.zip", compression='zip')

In [3]:
df_2018

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7213441,2018-12-31,AA,1815,DCA,CLT,1534,1530.0,-4.0,20.0,1550.0,...,100.0,99.0,72.0,331.0,NaN,NaN,NaN,NaN,NaN,NaN
7213442,2018-12-31,AA,1816,CLT,DFW,1751,1757.0,6.0,18.0,1815.0,...,181.0,176.0,148.0,936.0,NaN,NaN,NaN,NaN,NaN,NaN
7213443,2018-12-31,AA,1817,CLT,MEM,2015,2010.0,-5.0,36.0,2046.0,...,112.0,128.0,88.0,511.0,NaN,NaN,NaN,NaN,NaN,NaN
7213444,2018-12-31,AA,1818,CLT,RDU,1300,1323.0,23.0,11.0,1334.0,...,50.0,41.0,26.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
7213445,2018-12-31,AA,1818,RDU,CLT,1435,1443.0,8.0,8.0,1451.0,...,71.0,59.0,44.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2018.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [5]:
df_2018 = df_2018.drop(columns=["Unnamed: 27"])

In [6]:
null_info = pd.DataFrame({
    'Null SayÄ±sÄ±': df_2018.isnull().sum(),
    'Null YÃ¼zdesi': (df_2018.isnull().sum() / len(df_2018)) * 100
})
print(null_info)

                     Null SayÄ±sÄ±  Null YÃ¼zdesi
FL_DATE                        0      0.000000
OP_CARRIER                     0      0.000000
OP_CARRIER_FL_NUM              0      0.000000
ORIGIN                         0      0.000000
DEST                           0      0.000000
CRS_DEP_TIME                   0      0.000000
DEP_TIME                  112317      1.557051
DEP_DELAY                 117234      1.625215
TAXI_OUT                  115830      1.605751
WHEELS_OFF                115829      1.605737
WHEELS_ON                 119246      1.653107
TAXI_IN                   119246      1.653107
CRS_ARR_TIME                   0      0.000000
ARR_TIME                  119245      1.653093
ARR_DELAY                 137040      1.899785
CANCELLED                      0      0.000000
CANCELLATION_CODE        7096862     98.383796
DIVERTED                       0      0.000000
CRS_ELAPSED_TIME              10      0.000139
ACTUAL_ELAPSED_TIME       134442      1.863769
AIR_TIME                  134442      1.863769
DISTANCE                       0      0.000000
CARRIER_DELAY            5860736     81.247382
WEATHER_DELAY            5860736     81.247382
NAS_DELAY                5860736     81.247382
SECURITY_DELAY           5860736     81.247382
LATE_AIRCRAFT_DELAY      5860736     81.247382

In [7]:
parse_dates=["FL_DATE"],   # uÃ§uÅŸ tarihi
dtype={
        "OP_CARRIER": "category",
        "ORIGIN": "category",
        "DEST": "category"
}
print("Åžekil (satÄ±r, kolon):", df_2018.shape)
print("\nÄ°lk 5 satÄ±r:")
display(df_2018.head())

print("\nKolonlar:")
print(df_2018.columns.tolist())

print("\nDtype bilgisi:")
print(df_2018.dtypes)

Åžekil (satÄ±r, kolon): (7213446, 27)

Ä°lk 5 satÄ±r:

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,0.0,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,0.0,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,0.0,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,0.0,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,0.0,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN

Kolonlar:
['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

Dtype bilgisi:
FL_DATE                 object
OP_CARRIER              object
OP_CARRIER_FL_NUM        int64
ORIGIN                  object
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
CANCELLED              float64
CANCELLATION_CODE       object
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [8]:
# Cancelled ve Diverted ile eksikliÄŸi inceleme
if "CANCELLED" in df_2018.columns:
    print("\nCANCELLED daÄŸÄ±lÄ±mÄ±:")
    display(df_2018["CANCELLED"].value_counts(dropna=False))

if "DIVERTED" in df_2018.columns:
    print("\nDIVERTED daÄŸÄ±lÄ±mÄ±:")
    display(df_2018["DIVERTED"].value_counts(dropna=False))

# Cancelled satÄ±rlarÄ±ndaki eksiklik
if "CANCELLED" in df_2018.columns:
    print("\nCANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:")
    display(df_2018[df_2018["CANCELLED"] == 1].isna().mean().sort_values(ascending=False))

CANCELLED daÄŸÄ±lÄ±mÄ±:

CANCELLED
0.0    7096862
1.0     116584
Name: count, dtype: int64

DIVERTED daÄŸÄ±lÄ±mÄ±:

DIVERTED
0.0    7195587
1.0      17859
Name: count, dtype: int64

CANCELLED = 1 satÄ±rlarda eksik oranlarÄ±:

WHEELS_ON              1.000000
NAS_DELAY              1.000000
LATE_AIRCRAFT_DELAY    1.000000
ACTUAL_ELAPSED_TIME    1.000000
AIR_TIME               1.000000
CARRIER_DELAY          1.000000
WEATHER_DELAY          1.000000
SECURITY_DELAY         1.000000
ARR_DELAY              1.000000
ARR_TIME               1.000000
TAXI_IN                1.000000
TAXI_OUT               0.993533
WHEELS_OFF             0.993524
DEP_DELAY              0.964892
DEP_TIME               0.963400
CRS_ELAPSED_TIME       0.000026
FL_DATE                0.000000
OP_CARRIER             0.000000
OP_CARRIER_FL_NUM      0.000000
DEST                   0.000000
ORIGIN                 0.000000
CRS_DEP_TIME           0.000000
CRS_ARR_TIME           0.000000
DIVERTED               0.000000
CANCELLATION_CODE      0.000000
CANCELLED              0.000000
DISTANCE               0.000000
dtype: float64

In [9]:
num_cols = [
    "DEP_DELAY", "ARR_DELAY", "AIR_TIME", "TAXI_OUT",
    "TAXI_IN", "DISTANCE", "CARRIER_DELAY", "WEATHER_DELAY",
    "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"
]

num_cols = [c for c in num_cols if c in df_2018.columns]  # olup olmayanlarÄ± ayÄ±kla

print("\n--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---")
display(df_2018[num_cols].describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95]))

--- SayÄ±sal KolonlarÄ±n Ä°statistik Ã–zeti ---

,DEP_DELAY,ARR_DELAY,AIR_TIME,TAXI_OUT,TAXI_IN,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,7.096212e+06,7.076406e+06,7.079004e+06,7.097616e+06,7.094200e+06,7.213446e+06,1.352710e+06,1.352710e+06,1.352710e+06,1.352710e+06,1.352710e+06
mean,9.969858e+00,5.048581e+00,1.115020e+02,1.741061e+01,7.601246e+00,7.999895e+02,1.945501e+01,3.636459e+00,1.588547e+01,9.353890e-02,2.564412e+01
std,4.482964e+01,4.692664e+01,7.111293e+01,9.920409e+00,6.064797e+00,5.981783e+02,5.890812e+01,2.999601e+01,3.589350e+01,3.174306e+00,4.978776e+01
min,-1.220000e+02,-1.200000e+02,7.000000e+00,1.000000e+00,1.000000e+00,3.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,-5.000000e+00,-1.400000e+01,6.000000e+01,1.100000e+01,4.000000e+00,3.630000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,-2.000000e+00,-6.000000e+00,9.200000e+01,1.500000e+01,6.000000e+00,6.320000e+02,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,3.000000e+00
75%,7.000000e+00,8.000000e+00,1.410000e+02,2.000000e+01,9.000000e+00,1.034000e+03,1.700000e+01,0.000000e+00,2.000000e+01,0.000000e+00,3.100000e+01
90%,3.700000e+01,3.700000e+01,2.110000e+02,2.800000e+01,1.400000e+01,1.640000e+03,4.900000e+01,0.000000e+00,4.100000e+01,0.000000e+00,7.600000e+01
95%,7.300000e+01,7.300000e+01,2.700000e+02,3.500000e+01,1.800000e+01,2.176000e+03,8.900000e+01,9.000000e+00,6.600000e+01,0.000000e+00,1.170000e+02
max,2.710000e+03,2.692000e+03,6.960000e+02,1.960000e+02,2.590000e+02,4.983000e+03,2.109000e+03,2.692000e+03,1.848000e+03,9.870000e+02,2.454000e+03

In [10]:
# Ensure 'FL_DATE' column is datetime type
import pandas as pd
if not pd.api.types.is_datetime64_any_dtype(df_2018["FL_DATE"]):
    df_2018["FL_DATE"] = pd.to_datetime(df_2018["FL_DATE"])

# 1) NA olmayan saatleri seÃ§me
mask = df_2018["CRS_DEP_TIME"].notna()


# 2) HHMM deÄŸerini 4 haneli string

time_str = (
    df_2018.loc[mask, "CRS_DEP_TIME"]
      .astype(int)
      .astype(str)
      .str.zfill(4)
)

# 3) Tarih + saat_string

datetime_str = (
    df_2018.loc[mask, "FL_DATE"].dt.strftime("%Y-%m-%d")
    + " "
    + time_str
)

# 4) Stringi datetimeâ€™e dÃ¶nÃ¼ÅŸtÃ¼rme
# ===========================
df_2018.loc[mask, "CRS_DEP_DATETIME"] = pd.to_datetime(
    datetime_str,
    format="%Y-%m-%d %H%M"
)

# 5) Saat ve dakika ayrÄ± kolonda
df_2018["CRS_DEP_HOUR"]   = df_2018["CRS_DEP_DATETIME"].dt.hour
df_2018["CRS_DEP_MINUTE"] = df_2018["CRS_DEP_DATETIME"].dt.minute

df_2018[["CRS_DEP_TIME", "CRS_DEP_DATETIME", "CRS_DEP_HOUR", "CRS_DEP_MINUTE"]].head()

   CRS_DEP_TIME    CRS_DEP_DATETIME  CRS_DEP_HOUR  CRS_DEP_MINUTE
0          1517 2018-01-01 15:17:00            15              17
1          1115 2018-01-01 11:15:00            11              15
2          1335 2018-01-01 13:35:00            13              35
3          1546 2018-01-01 15:46:00            15              46
4           630 2018-01-01 06:30:00             6              30

In [11]:
import os
os.makedirs("../../data/processed", exist_ok=True)
df_2018.to_csv("../../data/processed/airline_2018_cleaned.csv", index=False)